In this part, we choose the first three company in boston and build the databases.There are 10 tables in our databases, which are employee, company, twitterUser, person, tweet, tweetRhashtag, hashtag, people, peopleRjob, and Job. tweetRhashtag and peopleRjob are two relationship table, which transit information.

# API part

In [616]:
#import pandas library
import pandas as pd

In [617]:
#Read the csv from last assignment
raw_csv = pd.read_csv('Boston-Data Visualization-job-results.csv')

In [618]:
raw_csv.head()

,Name,Company,State,City,Salary,Location,Url
0,Data Visualization Engineer,EtQ,MA,Burlington,$89k-$154k,"Burlington, MA",https://www.glassdoor.com/partner/jobListing.h...
1,"Director, Data Scientist – Visualization, Nova...",Novartis,MA,Cambridge,$128k-$208k,"Cambridge, MA",https://www.glassdoor.com/partner/jobListing.h...
2,AI & Data - Data Analytics and Insights Lead,Bose,MA,Boston,$50k-$95k,"Boston, MA",https://www.glassdoor.com/partner/jobListing.h...
3,Data Engineer Intern,Health Catalyst,MA,Cambridge,NaN,"Cambridge, MA",https://www.glassdoor.com/partner/jobListing.h...
4,Data Scientist,IT Concepts,MA,Boston,$101k-$135k,"Boston, MA",https://www.glassdoor.com/partner/jobListing.h...

In [619]:
#Choose the first three companies
bos_csv = raw_csv.iloc[0:3]

In [620]:
bos_csv

,Name,Company,State,City,Salary,Location,Url
0,Data Visualization Engineer,EtQ,MA,Burlington,$89k-$154k,"Burlington, MA",https://www.glassdoor.com/partner/jobListing.h...
1,"Director, Data Scientist – Visualization, Nova...",Novartis,MA,Cambridge,$128k-$208k,"Cambridge, MA",https://www.glassdoor.com/partner/jobListing.h...
2,AI & Data - Data Analytics and Insights Lead,Bose,MA,Boston,$50k-$95k,"Boston, MA",https://www.glassdoor.com/partner/jobListing.h...

In [621]:
#Only keep the job name, company name and the salary
keep_col = ['Name','Company','Salary']
bos_csv = bos_csv[keep_col]
bos_csv

                                                Name    Company       Salary
0                        Data Visualization Engineer        EtQ   $89k-$154k
1  Director, Data Scientist – Visualization, Nova...   Novartis  $128k-$208k
2       AI & Data - Data Analytics and Insights Lead       Bose    $50k-$95k

In [622]:
bos_csv.to_csv("bos.csv")

In [623]:
#import librarys and use the api to scrap information 
import tweepy
import json
import datetime
import warnings
warnings.filterwarnings('ignore')
consumerKey = '9oKAuFyGssLe8L9aCSTI0MRNU'
consumerSecret = 'UQJZvzAHF0no4K92nu4uoQWvt9c8PfCedNnBxMzbAlZnOe7FkF'
ACCESS_TOKEN = '520412304-CAlp1M4JafYn4LohYxqWOexB9TpmEKYqdkbz63D5'
ACCESS_SECRET = 'ijiCxaPWt0O314ljXWMywj1oiu6hvB2i42VvjQFaSfMPZ'
auth = tweepy.OAuthHandler(consumer_key=consumerKey, 
    consumer_secret=consumerSecret)

#Connect to the Twitter API using the authentication
api = tweepy.API(auth)

In [624]:
# tweet to hashtag list, we will use it later
def tweettohashtaglist(tweet):
    hashtags = tweet._json.get("entities").get("hashtags")
    taglist = []
    for hashtag in hashtags:
        taglist.append(hashtag.get("text"))
    return taglist

In [625]:
# anyname to 30 days tweets list, we will use it later
def anynameto30daystweets(api, anyname):
    pgcount = 1
    allflag = False
    timenow = datetime.datetime.now()
    tweetlist = []
    while not allflag:
        tweets = api.user_timeline(anyname, page = pgcount, tweet_mode = 'extended')
        for tweet in tweets:
            if (timenow - tweet.created_at).days < 60:
                tweetlist.append(tweet)
            else:
                 allflag = True
        if not allflag:
            pgcount+=1
        else:
            return tweetlist

In [626]:
# hashtag to tweetlist, we will use it later
def hashtagtotweetlist(hashtag):
    tweets = []
    for tweet in tweepy.Cursor(api.search, q='#' + hashtag).items(2000):
        tweets.append(tweet)
    return tweets

# Setup the pandas table

Here we initialize the tables that we will use later.

In [627]:
import pandas as pd
company = pd.DataFrame(columns=["companyId", "companyName", "twitterUserId"])
people = pd.DataFrame(columns=["personId"])
peopleRjob = pd.DataFrame(columns=["prjId", "personId", "jobId"])
job = pd.DataFrame(columns=["jobId", "jobName"])
hashtag = pd.DataFrame(columns=["hashtagId", "text"])
person = pd.DataFrame(columns=["personId", "personName", "twitterUserId"])
employee = pd.DataFrame(columns=["empId", "personId", "jobId", "companyId"])
tweet = pd.DataFrame(columns=["tweetId", "twitterUserId", "content", "favoriteCount", "createdTime"])
tweetRhashtag = pd.DataFrame(columns=["trhId", "tweetId", "hashtagId"])
twitteruser = pd.DataFrame(columns=["twitterUserId", "name", "screenname", "location", "followersCount", "tweetsCount"])

In [628]:
# new twitter user appending function
# anyname to user
def anynametouser(anyname):
    user = api.get_user(anyname)
    return user
# user to user_id
def usertouserid(user):
    return user.id
# user to name
def usertoname(user):
    return user.name
# user to screen_name
def usertoscreenname(user):
    return user.screen_name
# user to location
def usertolocation(user):
    return user.location
# user to followers_count
def usertofollowerscount(user):
    return user.followers_count
# user to tweets_count
def usertotweetscount(user):
    return user.statuses_count


def appendtwitteruser(user):
    twitteruser.loc[twitteruser.shape[0]+1] = {"twitterUserId":usertouserid(user), 
                                               "name":usertoname(user), 
                                               "screenname":usertoscreenname(user), 
                                               "location":usertolocation(user), 
                                               "followersCount":usertofollowerscount(user), 
                                               "tweetsCount":usertotweetscount(user)}

Here we add basic attributes to companies, jobs, persons, employees.We initialize the CEOs of three companies as the employees.

In [629]:
company.loc[company.shape[0]+1] = {"companyId":1, "companyName":"EtQ", "twitterUserId":usertouserid(anynametouser("etqsoftware"))}
job.loc[job.shape[0]+1] = {"jobId":1, "jobName":"Data Visualization Engineer"}
person.loc[person.shape[0]+1] = {"personId":1, "personName":"Rob Gremley", "twitterUserId":usertouserid(anynametouser("robgremley"))}
employee.loc[employee.shape[0]+1] = {"empId":1, "personId":1, "jobId":1, "companyId":1}
appendtwitteruser(anynametouser("robgremley"))
appendtwitteruser(anynametouser("etqsoftware"))
appendtwitteruser(anynametouser("DataVizSociety"))

In [630]:
company.loc[company.shape[0]+1] = {"companyId":2, "companyName":"Novartis", "twitterUserId":usertouserid(anynametouser("Novartis"))}
job.loc[job.shape[0]+1] = {"jobId":2, "jobName":"Data Scientist"}
person.loc[person.shape[0]+1] = {"personId":2, "personName":"Vasant Narasimhan", "twitterUserId":usertouserid(anynametouser("VasNarasimhan"))}
employee.loc[employee.shape[0]+1] = {"empId":2, "personId":2, "jobId":2, "companyId":2}
appendtwitteruser(anynametouser("VasNarasimhan"))
appendtwitteruser(anynametouser("Novartis"))
appendtwitteruser(anynametouser("NVSData"))

In [631]:
company.loc[company.shape[0]+1] = {"companyId":3, "companyName":"Bose", "twitterUserId":usertouserid(anynametouser("Bose"))}
job.loc[job.shape[0]+1] = {"jobId":3, "jobName":"Data Analytics and Insights Lead"}
person.loc[person.shape[0]+1] = {"personId":3, "personName":"Philip Hess", "twitterUserId":usertouserid(anynametouser("Bose"))}
employee.loc[employee.shape[0]+1] = {"empId":3, "personId":3, "jobId":3, "companyId":3}
appendtwitteruser(anynametouser("Bose"))
appendtwitteruser(anynametouser("Bose"))
appendtwitteruser(anynametouser("BDAnalyticsnews"))

In [632]:
# new tweet appending function
# tweet to tweet_id
def tweettotweetid(tweet):
    return tweet._json.get("id")
# tweet to user_id
def tweettouserid(tweet):
    return tweet._json.get("user").get("id")
# tweet to text
def tweettotext(tweet):
    return tweet._json.get("full_text")
# tweet to favorite_count
def tweettofavoritecount(tweet):
    return tweet._json.get("favorite_count")
# tweet to created_time
def tweettocreatedtime(tweet):
    return tweet.created_at



def appendtweet(twt):
    if tweet[tweet["tweetId"].isin([tweettotweetid(twt)])].shape[0] == 0:
        tweet.loc[tweet.shape[0]+1] = {"tweetId":tweettotweetid(twt), 
                                       "twitterUserId":tweettouserid(twt), 
                                       "content":tweettotext(twt), 
                                       "favoriteCount":tweettofavoritecount(twt), 
                                       "createdTime": tweettocreatedtime(twt)}
        for tag in tweettohashtaglist(twt):
            if hashtag[hashtag["text"].isin([tag])].shape[0] == 0:
                hashtag.loc[hashtag.shape[0]+1] = {"hashtagId":hashtag.shape[0]+1, "text":tag}
            tweetRhashtag.loc[tweetRhashtag.shape[0]+1] = {"trhId":tweetRhashtag.shape[0]+1, 
                                                           "tweetId":tweettotweetid(twt), 
                                                           "hashtagId":hashtag[hashtag["text"].isin([tag])].loc[:, ["hashtagId"]].values[0][0]}

In [633]:
# save employees' or companys' tweets in 30 days
def saveemployeecompanytweet(anyname):
    for twt0 in anynameto30daystweets(api, anyname):
            appendtweet(twt0)

In [634]:
try:
    saveemployeecompanytweet("etqsoftware")
    saveemployeecompanytweet("robgremley")
    saveemployeecompanytweet("DataVizSociety")
    saveemployeecompanytweet("Novartis")
    saveemployeecompanytweet("VasNarasimhan")
    saveemployeecompanytweet("NVSData")
    saveemployeecompanytweet("Bose")
    saveemployeecompanytweet("BDAnalyticsnews")
except tweepy.error.TweepError:
    pass

In [635]:
# save tweets based on the hashtag of jobName
def savehashtagtweet(jobName0):
    for twt0 in hashtagtotweetlist(jobName0):
        appendtweet(twt0)
        if twitteruser[twitteruser["twitterUserId"].isin([tweettouserid(twt0)])].shape[0] == 0:
            twitteruser.loc[twitteruser.shape[0]+1] = {"twitterUserId":tweettouserid(twt0), 
                                                       "name":usertoname(anynametouser(tweettouserid(twt0))), 
                                                       "screenname":usertoscreenname(anynametouser(tweettouserid(twt0))), 
                                                       "location":usertolocation(anynametouser(tweettouserid(twt0))), 
                                                       "followersCount":usertofollowerscount(anynametouser(tweettouserid(twt0))), 
                                                       "tweetsCount":usertotweetscount(anynametouser(tweettouserid(twt0)))}
            person.loc[person.shape[0]+1] = {"personId":person.shape[0]+1, 
                                             "personName":usertoscreenname(anynametouser(tweettouserid(twt0))), 
                                             "twitterUserId":tweettouserid(twt0)}
            people.loc[people.shape[0]+1] = {"personId":person.shape[0]}
        peopleRjob.loc[peopleRjob.shape[0]+1] = {
            "prjId":peopleRjob.shape[0]+1,
            "personId":person[person["twitterUserId"].isin([tweettouserid(twt0)])].loc[:, ["personId"]].values[0][0],
            "jobId":job[job["jobName"].isin([jobName0])].loc[:, ["jobId"]].values[0][0]
            }
        peopleRjob.drop_duplicates(subset=["personId","jobId"], keep='first', inplace=False)

In [705]:
try:
    savehashtagtweet("Data Visualization Engineer")
    
    
    
    
except tweepy.error.TweepError:
    pass

# Here we get csv file

In [637]:
# company = pd.DataFrame(columns=["companyId", "companyName", "twitterUserId"])
company

  companyId companyName twitterUserId
1         1         EtQ      90446356
2         2    Novartis      17226612
3         3        Bose     204074545

All information is showed, no 0, no null value, so it is already audited

In [638]:
#Make company a csv
company.to_csv(r'company.csv',index=False, encoding="utf-8-sig")

In [639]:
# people = pd.DataFrame(columns=["personId"])
people

   personId
1         4
2         5
3         6
4         7
5         8
6         9
7        10
8        11
9        12
10       13
11       14
12       15
13       16
14       17
15       18
16       19
17       20
18       21
19       22

In [640]:
people.shape

(19, 1)

In [641]:
people.isnull().values.any()

False

No null value, and no 0, we make costumer a csv

In [642]:
people.to_csv(r'people.csv',index=False, encoding="utf-8-sig")

In [643]:
# peopleRjob = pd.DataFrame(columns=["prjId", "personId", "jobId"])
peopleRjob

   prjId personId jobId
1      1        4     2
2      2        5     2
3      3        6     2
4      4        7     2
5      5        8     2
6      6        9     2
7      7       10     2
8      8       11     2
9      9       12     2
10    10       13     2
11    11       14     2
12    12       15     2
13    13       16     2
14    14       17     2
15    15       18     2
16    16       19     2
17    17       20     2
18    18       21     2
19    19       22     2

In [644]:
peopleRjob.shape

(19, 3)

In [645]:
peopleRjob.isnull().values.any()

False

In [646]:
peopleRjob.isnull().sum()

prjId       0
personId    0
jobId       0
dtype: int64

In [647]:
peopleRjob[peopleRjob.isnull().prjId == True]

Empty DataFrame
Columns: [prjId, personId, jobId]
Index: []

In [648]:
peopleRjob=peopleRjob[peopleRjob.isnull().prjId == False]
peopleRjob.head()

  prjId personId jobId
1     1        4     2
2     2        5     2
3     3        6     2
4     4        7     2
5     5        8     2

In [649]:
peopleRjob.to_csv(r'peopleRjob.csv',index=False, encoding="utf-8-sig")

In [650]:
# job = pd.DataFrame(columns=["jobId", "jobName")
job

  jobId                           jobName
1     1       Data Visualization Engineer
2     2                    Data Scientist
3     3  Data Analytics and Insights Lead

All information is showed, no null values, no 0, so it is already audited

In [651]:
#make job a csv
job.to_csv(r'job.csv',index=False, encoding="utf-8-sig")

In [652]:
# hashtag = pd.DataFrame(columns=["hashtagId", "text"])
hashtag

   hashtagId                  text
1          1                   LED
2          2                crafts
3          3     qualitymanagement
4          4               quality
5          5      qualiyvision2020
6          6                   qms
7          7                   ehs
8          8     qualityvision2020
9          9                safety
10        10                   etq
11        11                 Miami
12        12     CreativeInnovator
13        13        QualityCreates
14        14               dataviz
15        15              EarthDay
16        16     datavisualization
17        17               Dataviz
18        18               COVID19
19        19          EarthDay2020
20        20     Datavisualization
21        21            EarthDay50
22        22  NightingaleEarthWeek
23        23     DataVisualization
24        24               DataViz
25        25     datavisualisation
26        26           coronavirus
27        27               Isotype
28        28  BusinessIntelligence
29        29                 color
30        30           colortheory
..       ...                   ...
50        50                Charts
51        51        GraphicsDesign
52        52              Formula1
53        53                 ict4d
54        54         graphicdesign
55        55                 italy
56        56         flavialunardi
57        57         GraficaItalia
58        58            isiaurbino
59        59           datavizlive
60        60        WorldHealthDay
61        61     NursesAndMidwives
62        62    hydroxychloroquine
63        63              COVIDー19
64        64                   NIH
65        65          NovartisNews
66        66   reimaginingmedicine
67        67                  data
68        68                 AIOps
69        69            acquainted
70        70                  Apis
71        71                 ipaas
72        72             trailhead
73        73             ApiAdvice
74        74       MachineLearning
75        75                   IoT
76        76            Creativity
77        77                  Data
78        78           DataScience
79        79         DataScientist

[79 rows x 2 columns]

All information is showed, no null values, no 0, so it is already audited

In [653]:
hashtag.to_csv(r'hashtag.csv',index=False, encoding="utf-8-sig")

In [654]:
# person = pd.DataFrame(columns=["personId", "personName", "twitterUserId"])
person

   personId         personName        twitterUserId
1         1        Rob Gremley             41203376
2         2  Vasant Narasimhan   723488741348782080
3         3        Philip Hess            204074545
4         4          TekTaurus           3229087194
5         5      The_AIOps_Guy  1013777288335413248
6         6           femtech_  1143528514550927361
7         7         manisjohal           1215874082
8         8         GaryGenard            286178174
9         9      WebWindowsMkg            183263788
10       10          ReedAbend  1178423913757450253
11       11             gurobi             39560237
12       12          minuskeli             85262756
13       13        TietoEVRYfi           1200799908
14       14        abhibisht89            140743651
15       15       chidambara09   737142202481016832
16       16    StartGrowthHack   715797742036062208
17       17           akdm_bot   919744697551253505
18       18    JustBeMentalist             19539923
19       19    fullNam35087976   985425300292022273
20       20      StaceyMGaines             23069519
21       21            mrubioc             14472695
22       22         bundesbank            784790730

In [655]:
person.shape

(22, 3)

In [656]:
person.isnull().values.any()

False

No null values, we make it a csv

In [657]:
person.to_csv(r'person.csv',index=False, encoding="utf-8-sig")

In [658]:
# employee = pd.DataFrame(columns=["empId", "personId", "jobId", "companyId"])
employee

  empId personId jobId companyId
1     1        1     1         1
2     2        2     2         2
3     3        3     3         3

All information showed, no null values or 0, we make it a csv

In [659]:
employee.to_csv(r'employee.csv',index=False, encoding="utf-8-sig")

In [660]:
# tweet = pd.DataFrame(columns=["tweetId", "twitterUserId", "content", "favoriteCount", "createdTime"])
tweet

,tweetId,twitterUserId,content,favoriteCount,createdTime
1,1253396040213987329,90446356,"RT @FeatCustomers: Congratulations, @etqsoftwa...",0,2020-04-23 18:51:17
2,1250886805999804429,90446356,RT @SalesTechStar: @etqsoftware State Of Quali...,0,2020-04-16 20:40:29
3,1250126049800790016,90446356,RT @AbbottNews: UPDATE: We continue to expand ...,0,2020-04-14 18:17:31
4,1250125888785612804,90446356,RT @lumileds: Great work! This simple (and fun...,0,2020-04-14 18:16:52
5,1250042422828118016,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-14 12:45:12
6,1249691458032058368,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-13 13:30:36
7,1248619376720265216,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-10 14:30:32
8,1248312257722925062,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-09 18:10:09
9,1248266951807426560,90446356,RT @BillAulet: Great to see @WSJ getting the w...,0,2020-04-09 15:10:07
10,1247525163064647680,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-07 14:02:31
11,1242872551535247360,90446356,"In a time of disruption, staff displacement an...",1,2020-03-25 17:54:42
12,1237358851021852672,90446356,Register for our webinar today at 2 p.m. to he...,0,2020-03-10 12:45:13
13,1235421984223309825,90446356,RT @AcumenAnalytics: Thank you @etqsoftware fo...,0,2020-03-05 04:28:48
14,1235215179660566528,90446356,"Morgan Palmer, ETQ CTO, runs down the UX desig...",2,2020-03-04 14:47:02
15,1235207493996949504,90446356,RT @DAulerioMichele: Spotted at the ETQ Confer...,0,2020-03-04 14:16:30
16,1234869932887879688,90446356,The man most of the folks want to hear from! E...,5,2020-03-03 15:55:09
17,1234868890720784387,90446356,RT @m_littlefield: Morning keynotes are solid ...,0,2020-03-03 15:51:00
18,1234846909543702538,90446356,ETQ CEO Rob Gremley talks about the customer e...,2,2020-03-03 14:23:40
19,1234844107761164288,90446356,RT @HikerNbiker: @joshlinkner @etqsoftware Gre...,0,2020-03-03 14:12:32
20,1234843999883735040,90446356,RT @kljeanND: ⁦@joshlinkner⁩ - enjoyed the sto...,0,2020-03-03 14:12:06
21,1234843043901169664,90446356,"Fantastic keynote on innovation, creativity an...",7,2020-03-03 14:08:18
22,1234828411945791488,90446356,RT @AcumenAnalytics: ETQ Quality Vision Confer...,0,2020-03-03 13:10:10
23,1234828348276269060,90446356,RT @slowrunner80: @joshlinkner @etqsoftware Th...,0,2020-03-03 13:09:54
24,1234828237458550784,90446356,Honored to have you on Miami! https://t.co/AE7...,2,2020-03-03 13:09:28
25,1233021589312147457,90446356,Join us today at 1 PM ET as ETQ’s Nick Metrako...,2,2020-02-27 13:30:29
26,1232761856068071425,90446356,Join us today at 1 PM ET as ETQ’s Nick Metrako...,1,2020-02-26 20:18:24
27,1232749019916427264,90446356,https://t.co/JkiwnAMREY,1,2020-02-26 19:27:24
28,1253725387978309634,1086037534176473088,A fungus is killing Hawaii's most important tr...,2,2020-04-24 16:40:00
29,1253719963006832640,1086037534176473088,What is the role of #dataviz in the movement t...,4,2020-04-24 16:18:26
30,1253700082722959360,1086037534176473088,RT @SarahNRodriquez: You made it to another Fr...,0,2020-04-24 14:59:26
...,...,...,...,...,...
274,1243583467524407296,723488741348782080,RT @CNBCJulianna: Will #hydroxychloroquine act...,0,2020-03-27 16:59:37
275,1243516594573189121,723488741348782080,RT @megtirrell: TODAY on @CNBC: how the drug i...,0,2020-03-27 12:33:54
276,1243474023817916417,723488741348782080,"Our people are the beating heart of Novartis, ...",140,2020-03-27 09:44:44
277,1243123434223276033,723488741348782080,I know we in the life sciences industry feel a...,160,2020-03-26 10:31:37
278,1241038495449300992,723488741348782080,It’s been remarkable to watch the world mobili...,350,2020-03-20 16:26:49
279,1240677949193490435,723488741348782080,RT @NovartisNews: We’re entering several colla...,0,2020-03-19 16:34:08
280,1240325108272676865,723488741348782080,11 years ago I helped lead efforts to find a v...,836,2020-03-18 17:12:04
281,1239884729312317440,723488741348782080,We are dealing with an extraordinary public he...,224,2020-03-17 12:02:10
282,1238563795171229696,723488741348782080,RT @NovartisNews: As #coronavirus continues to...,0,2020-03-13 20:33:14
283,1233311196444610562,723488741348782080,Looking forward to coming together with our sh...,54,2020-02-28 08:41:17
284,1253707581324836864,3229087194,None,1,2020-04-24 15:29:14
285,1253700232774332419,1013777288335413248,None,0,2020-04-24 15:00:02
286,1253696980553007105,1143528514550927361,None,0,2020-04-24 14:47:07
287,1253690889941245957,1215874082,None,0,2020-04-24 14:22:55
288,1253685119308660737,286178174,None,1,2020-04-24 13:59:59
289,1253683856579969024,183263788,None,0,2020-04-24 13:54:58
290,1253681480070545409,1178423913757450253,None,0,2020-04-24 13:45:31
291,1253677664323461120,39560237,None,5,2020-04-24 13:30:22
292,1253671846920294400,85262756,None,0,2020-04-24 13:07:15
293,1253670167869100038,1200799908,None,4,2020-04-24 13:00:34
294,1253660149094498305,140743651,None,0,2020-04-24 12:20:46
295,1253659604300390400,737142202481016832,None,0,2020-04-24 12:18:36
296,1253657958711324673,715797742036062208,None,4,2020-04-24 12:12:03
297,1253644922789347328,919744697551253505,None,0,2020-04-24 11:20:15
298,1253640471307583489,19539923,None,0,2020-04-24 11:02:34
299,1253639953373753347,985425300292022273,None,0,2020-04-24 11:00:31
300,1253639846196895745,23069519,None,2,2020-04-24 11:00:05
301,1253622473284653056,14472695,None,0,2020-04-24 09:51:03
302,1253609645551255553,784790730,None,2,2020-04-24 09:00:05
303,1253569447924764672,767675409336897536,None,0,2020-04-24 06:20:21

In [661]:
tweet.shape

(303, 5)

We see if there are any tweet with null value

In [662]:
tweet.isnull().values.any()

True

We see which part has null value

In [663]:
tweet.isnull().sum()

tweetId           0
twitterUserId     0
content          20
favoriteCount     0
createdTime       0
dtype: int64

We see the tweet with true value

In [664]:
tweet[tweet.isnull().content == True]

,tweetId,twitterUserId,content,favoriteCount,createdTime
284,1253707581324836864,3229087194,None,1,2020-04-24 15:29:14
285,1253700232774332419,1013777288335413248,None,0,2020-04-24 15:00:02
286,1253696980553007105,1143528514550927361,None,0,2020-04-24 14:47:07
287,1253690889941245957,1215874082,None,0,2020-04-24 14:22:55
288,1253685119308660737,286178174,None,1,2020-04-24 13:59:59
289,1253683856579969024,183263788,None,0,2020-04-24 13:54:58
290,1253681480070545409,1178423913757450253,None,0,2020-04-24 13:45:31
291,1253677664323461120,39560237,None,5,2020-04-24 13:30:22
292,1253671846920294400,85262756,None,0,2020-04-24 13:07:15
293,1253670167869100038,1200799908,None,4,2020-04-24 13:00:34
294,1253660149094498305,140743651,None,0,2020-04-24 12:20:46
295,1253659604300390400,737142202481016832,None,0,2020-04-24 12:18:36
296,1253657958711324673,715797742036062208,None,4,2020-04-24 12:12:03
297,1253644922789347328,919744697551253505,None,0,2020-04-24 11:20:15
298,1253640471307583489,19539923,None,0,2020-04-24 11:02:34
299,1253639953373753347,985425300292022273,None,0,2020-04-24 11:00:31
300,1253639846196895745,23069519,None,2,2020-04-24 11:00:05
301,1253622473284653056,14472695,None,0,2020-04-24 09:51:03
302,1253609645551255553,784790730,None,2,2020-04-24 09:00:05
303,1253569447924764672,767675409336897536,None,0,2020-04-24 06:20:21

We delete the tweet with null value in content part

In [673]:
tweet=tweet[tweet.isnull().content == False]
tweet.head()

,tweetId,twitterUserId,content,favoriteCount,createdTime
1,1253396040213987329,90446356,"RT @FeatCustomers: Congratulations, @etqsoftwa...",0,2020-04-23 18:51:17
2,1250886805999804429,90446356,RT @SalesTechStar: @etqsoftware State Of Quali...,0,2020-04-16 20:40:29
3,1250126049800790016,90446356,RT @AbbottNews: UPDATE: We continue to expand ...,0,2020-04-14 18:17:31
4,1250125888785612804,90446356,RT @lumileds: Great work! This simple (and fun...,0,2020-04-14 18:16:52
5,1250042422828118016,90446356,"Webinar: Join ETQ Tues., 4/14, 11:00 a.m. PT f...",0,2020-04-14 12:45:12

In [666]:
#make tweet a csv
tweet.to_csv(r'tweet.csv',index=False, encoding="utf-8-sig")

In [667]:
# tweetRhashtag = pd.DataFrame(columns=["trhId", "tweetId", "hashtagId"])
tweetRhashtag

    trhId              tweetId hashtagId
1       1  1250125888785612804         1
2       2  1250125888785612804         2
3       3  1237358851021852672         3
4       4  1235421984223309825         4
5       5  1235215179660566528         5
6       6  1235215179660566528         4
7       7  1235215179660566528         6
8       8  1235215179660566528         7
9       9  1234869932887879688         8
10     10  1234869932887879688         6
11     11  1234869932887879688         7
12     12  1234869932887879688         4
13     13  1234869932887879688         9
14     14  1234846909543702538         8
15     15  1234844107761164288        10
16     16  1234844107761164288        11
17     17  1234843999883735040        12
18     18  1234843043901169664         8
19     19  1234828411945791488        13
20     20  1253725387978309634        14
21     21  1253725387978309634        15
22     22  1253719963006832640        14
23     23  1253719963006832640        16
24     24  1253719963006832640        15
25     25  1253365768328220678        15
26     26  1253365768328220678        17
27     27  1253360281092345857        15
28     28  1253352831496617984        17
29     29  1253352831496617984        18
30     30  1252990547666575360        15
..    ...                  ...       ...
168   168  1241038495449300992        38
169   169  1240325108272676865        18
170   170  1239884729312317440        18
171   171  1238563795171229696        26
172   172  1233311196444610562        66
173   173  1253707581324836864        67
174   174  1253700232774332419        68
175   175  1253696980553007105        69
176   176  1253696980553007105        70
177   177  1253696980553007105        71
178   178  1253696980553007105        72
179   179  1253696980553007105        73
180   180  1253696980553007105        74
181   181  1253696980553007105        75
182   182  1253690889941245957        67
183   183  1253690889941245957        76
184   184  1253683856579969024        67
185   185  1253683856579969024        76
186   186  1253660149094498305        67
187   187  1253660149094498305        76
188   188  1253659604300390400        67
189   189  1253659604300390400        76
190   190  1253657958711324673        67
191   191  1253657958711324673        76
192   192  1253644922789347328        77
193   193  1253640471307583489        77
194   194  1253639953373753347        77
195   195  1253639846196895745        77
196   196  1253569447924764672        78
197   197  1253569447924764672        79

[197 rows x 3 columns]

All information is showed, no null or 0, so it is already audited

In [668]:
#make tweetRhashtag a csv
tweetRhashtag.to_csv(r'tweetRhashtag.csv',index=False, encoding="utf-8-sig")

In [669]:
# twitteruser = pd.DataFrame(columns=["twitterUserId", "name", "screenname", "location", "followersCount", "tweetsCount"])
twitteruser

,twitterUserId,name,screenname,location,followersCount,tweetsCount
1,41203376,Rob Gremley,robgremley,,157,2
2,90446356,ETQ,etqsoftware,Offices in US & International,4273,5910
3,1086037534176473088,Data Visualization Society,DataVizSociety,,19877,1488
4,723488741348782080,Vas Narasimhan,VasNarasimhan,"Basel, Switzerland",13239,464
5,17226612,Novartis,Novartis,"Basel, Switzerland",266273,12211
6,767675409336897536,Mr Data Scientist,NVSData,"Melbourne, Victoria",3446,101745
7,204074545,Bose,Bose,"Framingham, MA",217421,10310
8,204074545,Bose,Bose,"Framingham, MA",217421,10310
9,1729180992,BigDataAnalyticsNews,BDAnalyticsnews,Hyderabad,3374,1501
10,3229087194,TekTaurus Education,TekTaurus,"New Jersey, USA",238,1026
11,1013777288335413248,Mark Finn,The_AIOps_Guy,Devon,290,1149
12,1143528514550927361,FemTech_🖥👩🏽‍💻,femtech_,"Berlin, Germany",11557,497834
13,1215874082,Mani Johal,manisjohal,United Kingdom,2701,8239
14,286178174,Gary Genard,GaryGenard,Boston,9878,20365
15,183263788,WebWindows,WebWindowsMkg,"Peterborough, UK",870,2525
16,1178423913757450253,Reed Abend,ReedAbend,"Westport, CT",3513,12945
17,39560237,Gurobi Optimization,gurobi,USA,2983,734
18,85262756,Mikael Alatalo,minuskeli,Helsinki,945,1269
19,1200799908,TietoEVRY Suomi,TietoEVRYfi,"Helsinki, Finland",2076,3835
20,140743651,abhishek bisht,abhibisht89,delhi,425,25813
21,737142202481016832,Chidambara .ML.,chidambara09,Mysore and BERLIN,6546,982144
22,715797742036062208,Growth Hackers 🚀,StartGrowthHack,Around the world ✈,185981,63690
23,919744697551253505,AKDM bot!,akdm_bot,United States,1725,185860
24,19539923,dystopian mentalist,JustBeMentalist,Shropshire,3858,251247
25,985425300292022273,akasatanahama.com,fullNam35087976,"Chiyoda-ku, Tokyo",2036,122194
26,23069519,StaceyMGaines,StaceyMGaines,Mississippi,87,842
27,14472695,Manuel,mrubioc,"Madrid, Spain",288,2473
28,784790730,Deutsche Bundesbank,bundesbank,Frankfurt am Main,28479,4163

In [670]:
twitteruser.shape

(28, 6)

In [671]:
twitteruser.isnull().values.any()

False

No null values, and some of tweetscount is 0. But 0 for tweetcount is a meaningful information, since it shows that this user has not tweeted. So we keep the 0

In [672]:
twitteruser.to_csv(r'tweetuser.csv',index=False, encoding="utf-8-sig")

# Here we generate our database

In [674]:
#import csv and sqlite3 library
import csv
import sqlite3

Here we read the data from the csv we have created

In [675]:
company = pd.read_csv(r'company.csv', encoding="utf-8-sig")
people = pd.read_csv('people.csv', encoding="utf-8-sig")
peopleRjob = pd.read_csv('peopleRjob.csv', encoding="utf-8-sig")
job = pd.read_csv('job.csv', encoding="utf-8-sig")
hashtag = pd.read_csv('hashtag.csv', encoding="utf-8-sig")
person = pd.read_csv('person.csv', encoding="utf-8-sig")
employee = pd.read_csv('employee.csv', encoding="utf-8-sig")
tweet = pd.read_csv('tweet.csv', encoding="utf-8-sig")
tweetRhashtag = pd.read_csv('tweetRhashtag.csv', encoding="utf-8-sig")
twitteruser = pd.read_csv('tweetuser.csv', encoding="utf-8-sig")

Make data lists

In [676]:
companyList = company.values.tolist()
peopleList = people.values.tolist()
peopleRjobList = peopleRjob.values.tolist()
jobList = job.values.tolist()
hashtagList = hashtag.values.tolist()
personList = person.values.tolist()
employeeList = employee.values.tolist()
tweetList = tweet.values.tolist()
tweetRhashtagList = tweetRhashtag.values.tolist()
twitteruserList = twitteruser.values.tolist()

In [677]:
con = sqlite3.connect('FinalProjectdatabse.db')

In [678]:
c = con.cursor()

We create tables here into our database

Create company table

In [679]:
c.execute("""CREATE TABLE company(
                   companyId INTEGER(20) PRIMARY KEY,
                   companyName VARCHAR(255),
                   twitterUserId INTEGER(255),
                   CONSTRAINT name_uni UNIQUE (companyId, twitterUserId)
                   
                   )""")

Create people table

In [680]:
c.execute("""CREATE TABLE people(
                   personId INTEGER(20) PRIMARY KEY,
                   CONSTRAINT name_uni UNIQUE (personId)
                   )""")

Create peopleRjob table

In [681]:
c.execute("""CREATE TABLE peopleRjob(
                   prjId INTEGER(20) PRIMARY KEY,
                   personId INTEGER(20),
                   jobId INTEGER(20),
                   CONSTRAINT name_uni UNIQUE (prjId)
                   )""")

Create job table

In [682]:
c.execute("""CREATE TABLE job(
                   jobId INTEGER(20) PRIMARY KEY,
                   jobName VARCHAR(255),
                   CONSTRAINT name_uni UNIQUE (jobid)
                   )""")

Create hashtage table

In [683]:
c.execute("""CREATE TABLE hashtag(
                   hashtagId INTEGER(20) PRIMARY KEY,
                   text VARCHAR(255),
                   CONSTRAINT name_uni UNIQUE (hashtagId, text)
                   )""")

Create person table

In [684]:
c.execute("""CREATE TABLE person(
                   personId INTEGER(20) PRIMARY KEY,
                   personName VARCHAR(255),
                   twitterUserId INTEGER(255),
                   CONSTRAINT name_uni UNIQUE (personId, twitterUserId)
                   )""")

Create employee tale

In [685]:
c.execute("""CREATE TABLE employee(
                   empId INTEGER(20) PRIMARY KEY,
                   personId INTEGER(20),
                   jobId INTEGER(20),
                   companyId INTEGER(20),
                   CONSTRAINT name_uni UNIQUE (empId)
                   )""")

Create tweet table

In [686]:
c.execute("""CREATE TABLE tweet(
                   tweetId INTEGER(255) PRIMARY KEY,
                   twitterUserId INTEGER(255),
                   content VARCHAR(255),
                   favoriteCount INTEGER(20),
                   createdTime DATE(20),
                   CONSTRAINT name_uni UNIQUE (tweetId)
                   )""")

Create tweetRhashtag table

In [687]:
c.execute("""CREATE TABLE tweetRhashtag(
                   trhId INTEGER(20) PRIMARY KEY,
                   tweetId INTEGER(255),
                   hashtagId INTEGER(20),
                   CONSTRAINT name_uni UNIQUE (trhId)
                   )""")

Create twitteruser table

In [688]:
c.execute("""CREATE TABLE twitteruser(
                   twitterUserId INTEGER(255) PRIMARY KEY,
                   name VARCHAR(255),
                   screenname VARCHAR(255),
                   location VARCHAR(255),
                   followersCount INTEGER(20),
                   tweetsCount INTEGER(20),
                   CONSTRAINT name_uni UNIQUE (twitterUserId)
                   )""")

# Insert values from our lists into tables

Here we insert values into our tables into databases

In [689]:
c.executemany("""INSERT or REPLACE INTO company VALUES(?,?,?)""", companyList)
c.executemany("""INSERT or REPLACE INTO people VALUES(?)""", peopleList)
c.executemany("""INSERT or REPLACE INTO peopleRjob VALUES(?,?,?)""", peopleRjobList)
c.executemany("""INSERT or REPLACE INTO job VALUES(?,?)""", jobList)
c.executemany("""INSERT or REPLACE INTO hashtag VALUES(?,?)""", hashtagList)
c.executemany("""INSERT or REPLACE INTO person VALUES(?,?,?)""", personList)
c.executemany("""INSERT or REPLACE INTO employee VALUES(?,?,?,?)""", employeeList)
c.executemany("""INSERT or REPLACE INTO tweet VALUES(?,?,?,?,?)""", tweetList)
c.executemany("""INSERT or REPLACE INTO tweetRhashtag VALUES(?,?,?)""", tweetRhashtagList)
c.executemany("""INSERT or REPLACE INTO twitteruser VALUES(?,?,?,?,?,?)""", twitteruserList)

# Test Case

Select all companies

In [690]:
c.execute("""SELECT *
             FROM company
          """)
for row in c.fetchall():
    print(row)

(1, 'EtQ', 90446356)
(2, 'Novartis', 17226612)
(3, 'Bose', 204074545)

Select all employees

In [691]:
c.execute("""SELECT *
             FROM employee
          """)
for row in c.fetchall():
    print(row)

(1, 1, 1, 1)
(2, 2, 2, 2)
(3, 3, 3, 3)

Select all the screennames from twitterusers

In [692]:
c.execute("""SELECT screenname
             FROM twitteruser
          """)
for row in c.fetchall():
    print(row)

('robgremley',)
('etqsoftware',)
('DataVizSociety',)
('VasNarasimhan',)
('Novartis',)
('NVSData',)
('Bose',)
('BDAnalyticsnews',)
('TekTaurus',)
('The_AIOps_Guy',)
('femtech_',)
('manisjohal',)
('GaryGenard',)
('WebWindowsMkg',)
('ReedAbend',)
('gurobi',)
('minuskeli',)
('TietoEVRYfi',)
('abhibisht89',)
('chidambara09',)
('StartGrowthHack',)
('akdm_bot',)
('JustBeMentalist',)
('fullNam35087976',)
('StaceyMGaines',)
('mrubioc',)
('bundesbank',)

# User case

Get twitteruser' userid order by their screenname in descending order

In [693]:

c.execute("""SELECT twitterUserId
             FROM twitteruser
             ORDER BY screenname DESC
          """)
for row in c.fetchall():
    print(row)

(41203376,)
(14472695,)
(85262756,)
(1215874082,)
(39560237,)
(985425300292022273,)
(1143528514550927361,)
(90446356,)
(737142202481016832,)
(784790730,)
(919744697551253505,)
(140743651,)
(183263788,)
(723488741348782080,)
(1200799908,)
(1013777288335413248,)
(3229087194,)
(715797742036062208,)
(23069519,)
(1178423913757450253,)
(17226612,)
(767675409336897536,)
(19539923,)
(286178174,)
(1086037534176473088,)
(204074545,)
(1729180992,)

Check the when a twitteruser tweet a post and the numbers of likes of the post and the content of the post by the tweetID.

In [694]:

c.execute("""SELECT createdTime, favoriteCount, content
             FROM tweet
             WHERE tweetId = 1253396040213987329
          """)
for row in c.fetchall():
    print(row)

('2020-04-23 18:51:17', 0, "RT @FeatCustomers: Congratulations, @etqsoftware has been recognized as 'Best In Category' in Spring 2020 Quality Management Software Custo…")

Find the numbers of posts that tweeted by user 1013777288335413248	 within one day

In [697]:

c.execute("""SELECT COUNT(tweetId)
             FROM tweet
             WHERE twitterUserId = 1013777288335413248	 AND datetime(createdTime) > datetime('now','-1 day','localtime') 
          """)
for row in c.fetchall():
    print(row)

(0,)

Find 10 most popular hastags

In [698]:

c.execute("""SELECT hashtag.text, SUM(tweet.favoriteCount)
             FROM hashtag, tweet, tweetRhashtag
             WHERE hashtag.hashtagId=tweetRhashtag.hashtagId AND tweet.tweetId=tweetRhashtag.tweetId
             GROUP BY hashtag.hashtagId
             ORDER BY SUM(tweet.favoriteCount) DESC
             LIMIT 10
          """)
for row in c.fetchall():
    print(row)

('COVID19', 2616)
('dataviz', 598)
('DataVisualization', 589)
('Covid_19', 350)
('hydroxychloroquine', 301)
('datavisualization', 286)
('coronavirus', 270)
('VizResponsibly', 126)
('Datavisualization', 106)
('DataViz', 105)

Find the popular posts(the favourite counts > the average numbers)

In [699]:

c.execute("""SELECT *
             FROM tweet
             WHERE favoriteCount > (SELECT AVG(favoriteCount)
                                    FROM tweet)
          """)
for row in c.fetchall():
    print(row)

(1252981591791419392, 1086037534176473088, 'A reminder that today at 1PM PDT we are hosting a great conversation about making maps, hosted by @AlbertoCairo and featuring @mzdraper, @kennethfield &amp; @Elijah_Meeks. Join us for this live panel, the latest in our fireside chat series!\nhttps://t.co/GzlTZnP3mw', 25, '2020-04-22 15:24:25')
(1252231200028180481, 1086037534176473088, 'Welcome to Earth Week! To start us off, @duncangeere wrote about planetary boundaries, essentially a dashboard for the health of the entire planet. On the influential graphic’s history and how it might help us chart a sustainable way forward:\n\nhttps://t.co/NJ2sJJzZCE', 21, '2020-04-20 13:42:38')
(1251368893752373249, 1086037534176473088, 'What makes a great map? What makes a bad map? Join @mzdraper, @AlbertoCairo, @kennethfield and @Elijah_Meeks next Wednesday for a discussion about good maps, tips for designing them and cautionary tales about when maps go bad.\nhttps://t.co/GzlTZnP3mw', 162, '2020-04-18 04:36:08')
(1250825734400008192, 1086037534176473088, 'Did you know we have a Youtube channel that’s full of helpful videos for dataviz creators? Of course you did. But do your friends know? Does your mom know?\nhttps://t.co/ZERxvqFOmJ', 62, '2020-04-16 16:37:48')
(1250581708220428288, 1086037534176473088, 'We’re seeing so much health viz that we felt we should have a discussion on when to do it, how to do it well and what to watch out for. If you missed the live version, here it is!\n#Datavisualization #datavisualisation\nhttps://t.co/8a3d9AH0BL', 36, '2020-04-16 00:28:08')
(1250104549840498688, 1086037534176473088, "“This is the biggest story as a data journalist that I’ve ever encountered.” @jburnmurdoch of the @FinancialTimes discussed the creation of his breakout log scale charts, how they have evolved, and what it's been like to cover COVID-19. #dataviz\n\nhttps://t.co/kfx4T4pemm", 114, '2020-04-14 16:52:05')
(1249718485741010945, 1086037534176473088, 'What goes into a COVID-19 #DataVisualization? @triciaaung interviewed @GurmanBhatia and @SimonScarr of the @Reuters graphics team about their design process, the hardest decisions, and much more. \n\nhttps://t.co/G2GFSJEnHR', 65, '2020-04-13 15:18:00')
(1249712174861299712, 1086037534176473088, '.@irlington interviewed @nickgreergkcin of @themapisnot about the allure of old maps, the origins of Territory, the shortcomings of visual representation, and more. \n\nhttps://t.co/tU92KjeRHq', 29, '2020-04-13 14:52:55')
(1248287053852184577, 1086037534176473088, 'Revisiting the life and overlooked work of the Hungarian statistician behind three volumes of #dataviz masterpieces, Lajos Illyefalvi (1881–1944). \n\n@attilabatorfy: https://t.co/RGVMI9l2eY', 82, '2020-04-09 16:30:00')
(1247585649470967808, 1086037534176473088, 'How has album artwork and typography evolved over the last 40 years? Using #DataViz, @emmakumer explains: \n\nhttps://t.co/EfV1Erk3vB', 24, '2020-04-07 18:02:52')
(1247270495197642752, 1086037534176473088, 'Did you miss our first fireside chat on Color Theory with @alangwilson, @tmrhyne, @yuliakrolik and @AmyCesal? Or want to catch it again? Here it is! #color #colortheory #datavisualization\nhttps://t.co/fj6c7ybABR', 83, '2020-04-06 21:10:33')
(1247160078651842561, 1086037534176473088, "To mark @rstudio's 20th birthday, @W_R_Chase interviewed @hadleywickham, creator of ggplot and tidyr, about the last 20 years of R, its role in the #dataviz landscape, and what's in store for the next 20 years. \n\nhttps://t.co/2dn0LSqG4X", 22, '2020-04-06 13:51:48')
(1245882381078151168, 1086037534176473088, '@tshaikh1992 @tmrhyne @alangwilson @yuliakrolik @AmyCesal Yes we’ll record it and post it on our YouTube channel!\nhttps://t.co/ZERxvqFOmJ', 37, '2020-04-03 01:14:41')
(1245871565134155776, 1086037534176473088, 'Color is Hard. But it doesn’t have to be! Join us tomorrow at 10AM EST for our first Fireside Chat. The topic is using color theory for data visualization and our panel will be @tmrhyne, @alangwilson and @yuliakrolik hosted by @AmyCesal.\nhttps://t.co/YKPJm8XWmY https://t.co/fi2bUHkhPE', 200, '2020-04-03 00:31:42')
(1245014046576959493, 1086037534176473088, 'In a comprehensive and thorough deep dive, @janezhgw explores how freelancers can earn a living in #DataVisualization, including interviews with four designers about how they got their starts and have built their careers: \n\nhttps://t.co/Thkvn3JW4I', 65, '2020-03-31 15:44:14')
(1244641532457746439, 1086037534176473088, 'Everything you need to know about the scatterplot, including where it came from, when to use it, and how to create one. #DataVisualization \n\nhttps://t.co/ZZmw4iTw42', 40, '2020-03-30 15:04:00')
(1244633728007241730, 1086037534176473088, '“Flatten the Curve” has become one of the most-viewed visualizations of all time. Our challenge now is to figure out how this graphic translates to real life, which means recognizing its uncertainty. @abmakulec:\n\nhttps://t.co/lvEEdRIfd0', 30, '2020-03-30 14:32:59')
(1243972064819765249, 1086037534176473088, 'Ask yourself these 15 questions to help spot misleading or false information when it comes to COVID-19 stats\n\nhttps://t.co/4Glx3Z1IlU', 29, '2020-03-28 18:43:46')
(1243588642263662593, 1086037534176473088, 'Great visualizations are the result of clear strategic thinking, not the other way around. @dan_gastineau on the inextricable relationship between #dataviz and strategy:\n\nhttps://t.co/O5yXnwRDjw', 29, '2020-03-27 17:20:11')
(1243178891612688384, 1086037534176473088, "Staying home is the safest and most helpful thing you can do to limit the spread of COVID-19. Here are Nightingale's recommendations for books, TV shows, podcasts, and more to enjoy during social distancing. #StayHome #DataVisualization \n\nhttps://t.co/dubb39pwQq", 52, '2020-03-26 14:11:59')
(1242470979982540800, 1086037534176473088, 'This 20-year-old book is full of insights about UX, design, and visualizing layered data that still hold true today. #DataVisualization #uxdesign \n\nhttps://t.co/wbHCYdMrKl', 52, '2020-03-24 15:19:00')
(1242463013392785409, 1086037534176473088, 'If you’ve wanted to learn #dataviz but aren’t sure how to start, @Evelina_Jud wrote about going from simple charts in Excel to leading workshops at her workplace. On the books she read, tools she used, and tips she has for people who want to do the same: \n\nhttps://t.co/MA63bgocOa', 98, '2020-03-24 14:47:20')
(1242164208386674690, 1086037534176473088, "Looking for a way to visualize the COVID-19 pandemic that isn't looking at case loads? Here are 13 other ideas:   \n\nhttps://t.co/u97SJn2yFS", 50, '2020-03-23 19:00:00')
(1241055917925269504, 1086037534176473088, 'We already have over 300 dataviz and data engineering volunteers but we need more public health professionals and orgs to match them with so if you are or know someone or a group who could benefit from this collaboration please share.\nhttps://t.co/etw9LA4Qjv', 37, '2020-03-20 17:36:03')
(1241038541079134211, 1086037534176473088, 'Did you know you can build an interactive #Dashboard in just a few hours using fewer than 50 lines of code? #DataVisualization @streamlit \n\nhttps://t.co/upS4GSW0aB', 37, '2020-03-20 16:27:00')
(1241029996501753859, 1086037534176473088, "There is much to #viz about COVID-19 besides case loads. Based on discussions in the DVS Slack, @datazins compiled 13 ideas for using #datavisualization to help understand the impact of the pandemic and the strange times we're living in: \n\nhttps://t.co/u97SJn2yFS", 68, '2020-03-20 15:53:03')
(1240796946924597248, 1086037534176473088, 'If you’re a dataviz designer or data engineer and want to be involved in creating data visualizations of the #COVID19 pandemic, or if you’re a public health practitioner or health organization, we have started a program to connect you with collaborators.\nhttps://t.co/etw9LA4Qjv', 168, '2020-03-20 00:26:59')
(1239940834272870408, 1086037534176473088, "Mathematician John Tukey once said “There is no data that can be displayed in a pie chart that cannot be displayed BETTER in some other type of chart.” \n\nBut there are certain instances when a pie chart makes sense. Here's how to get the most out of it: https://t.co/PK7dJT7uXl", 33, '2020-03-17 15:45:06')
(1239561559212462091, 1086037534176473088, 'Building your #dataviz portfolio is a lot like building a house, and it all starts with having the right tool set. \n\n@W_R_Chase: https://t.co/lr4IACEJlV', 61, '2020-03-16 14:38:00')
(1238925936151666692, 1086037534176473088, 'What "flattening the curve" can teach us about public health and #datavisualization: \n\nhttps://t.co/sxcO9DrsXr', 50, '2020-03-14 20:32:15')
(1238546058659147776, 1086037534176473088, 'For public health organizations, #DataVisualization is a MUST. "In many cases, it is the most responsible and effective way to share information and educate people."\n\n@ErinLMcCoy: https://t.co/wYig3fDQ6u', 36, '2020-03-13 19:22:46')
(1238464703900286976, 1086037534176473088, 'The concept of "flattening the curve" and the widely-shared graphs are expanding our understanding of #dataviz and public health. \n\n@datazins: https://t.co/sxcO9DrsXr', 29, '2020-03-13 13:59:29')
(1237803279486275585, 1086037534176473088, '#DataVisualization can help us make sense of and teach about the coronavirus, but the stakes are high. @abmakulec has 10 considerations to help you #VizResponsibly: \n\nhttps://t.co/OJLTs1tIvn', 111, '2020-03-11 18:11:13')
(1237427496972365824, 1086037534176473088, 'Is the word "Dashboard" losing its value? What *is* the value of the term, anyway? The DVS hosted a discussion on Slack about this very topic, and you can read more about it on Nightingale. #DataVisualization\n\nhttps://t.co/1cTqIuwTFG', 22, '2020-03-10 17:18:00')
(1235956251521101828, 1086037534176473088, "Last year's #Wimbledon final between Novak Djokovic and Roger Federer is one to be remembered. @ektaaa11 looked back at the epic match with a series of visualizations to understand what exactly happened. #dataviz \n\nhttps://t.co/kZpw2OBVVU", 22, '2020-03-06 15:51:47')
(1235601487918706689, 1086037534176473088, 'For your consideration: The slope chart. When visualizing data over time, this format cuts away the extra noise and displays data clearly and neatly.\n\n #DataViz #DataVisualizaion #Charts #GraphicsDesign\n\nhttps://t.co/wYZCIdRCSa', 28, '2020-03-05 16:22:05')
(1235248641645805569, 1086037534176473088, "The Undocumented Migration Project pop-up installation @HostileTerrain visualizes the humanitarian crisis on the U.S.'s southern border. @connect4mary wrote about how it came together and why it's such a powerful #datavisualization: \n\nhttps://t.co/nfEjsNifaE", 33, '2020-03-04 17:00:00')
(1234913538654769152, 1086037534176473088, '"I always love to take inspiration from shapes and images from other worlds: photographs, shapes from nature or paintings or sculptures." @byMadisonHall interviewed @fedfragapane about her inspiration, process, #dataviz in children\'s books, and more: \n\nhttps://t.co/DMWBm9QkKo', 31, '2020-03-03 18:48:25')
(1234528494496944134, 1086037534176473088, "Nightingale, the journal of the DVS, is always open for submissions, and we'd love to hear from you. We publish articles related to #DataVisualization, including applications in design, history, sports, programming, and more. And we pay!\n\nhttps://t.co/p2XmbxVUvf", 26, '2020-03-02 17:18:24')
(1233419563972333568, 1086037534176473088, 'When her brother moved to Alaska, @mell0kat saw an opportunity for an analog data-viz project in encoding multivariate data. Check out her terrific #Datavisualization and learn more about her process:\n\n https://t.co/poTFP8qW22', 24, '2020-02-28 15:51:54')
(1233069330633498626, 1086037534176473088, "When you read @rachaeldottle's piece on mapping Great Britain’s cat population, it’s called ... taking a catmap.\n\nFind out more about her mapmaking process and creating reproducible visualizations:\n\nhttps://t.co/sU4ljBWknR", 38, '2020-02-27 16:40:12')
(1232701748973797376, 1086037534176473088, 'The International System Of Typographic Picture Education (ISOTYPE) sought to create educational designs by bringing statistics alive through a visual language. @Jasonforrestftw on this pioneering #datavisualization institute: \n\nhttps://t.co/W88cQ33z7X', 32, '2020-02-26 16:19:34')
(1232072501418573825, 1086037534176473088, 'Every month we’ll be hosting a live Q&amp;A with experienced dataviz practitioners answering questions from early career professionals. Here’s our first, focused on resumes and portfolios, featuring a panel of @DataToViz, @Jasonforrestftw &amp; @Elijah_Meeks.\nhttps://t.co/uVoY5zy8tl', 48, '2020-02-24 22:39:09')
(1247554576221339650, 17226612, 'Learn more about the COVID-19 Response Fund and our response to the #coronavirus pandemic at https://t.co/WyhGtaiVpH 3/3', 23, '2020-04-07 15:59:24')
(1247554574778609665, 17226612, 'Over 50 projects have been approved to receive funding, including in Italy, Brazil, and sub-Saharan Africa. 2/3', 34, '2020-04-07 15:59:23')
(1247553917929639937, 17226612, 'Our recently announced COVID-19 Response Fund is providing urgently needed support for healthcare workers and communities around the world. #COVID19 1/3', 78, '2020-04-07 15:56:47')
(1247220308194492418, 17226612, 'We are supporting ongoing hydroxychloroquine clinical trial efforts and plan to evaluate needs for additional clinical trials. https://t.co/RwO9Wdycce 3/3', 28, '2020-04-06 17:51:08')
(1247220306491604992, 17226612, 'We have already donated our first consignment to the US Department of Health and Human Services and are responding to requests from governments around the world with additional donations planned to go out this week. https://t.co/qo8EvSjJit 2/3', 37, '2020-04-06 17:51:07')
(1247218726686113794, 17226612, 'We have committed to donate up to 130 million doses of hydroxychloroquine globally to support the COVID-19 pandemic response – this is a donation. 1/3', 301, '2020-04-06 17:44:51')
(1253290504676085761, 723488741348782080, 'Among other things, #COVID19 is revealing how we collectively need to view pandemics more as a defense topic than a health topic. One part of my discussion with @MilkenInstitute on responses and potential solutions to the ongoing crisis. Listen here: https://t.co/KhpPXuZJ4T https://t.co/HB4Jm79Dec', 44, '2020-04-23 11:51:55')
(1252235360567832577, 723488741348782080, 'In the short-term, repurposing existing medicines to help treat #COVIDー19 is our best hope. We’re working to help generate the rigorous clinical testing and data needed to assess the safety and efficacy of some of the most promising options as quickly as possible. #COVID19 https://t.co/tFqE9gS9j8', 100, '2020-04-20 13:59:10')
(1250007793396076544, 723488741348782080, 'My take on the most common questions I’m hearing. In the midst of the fast-moving response and public discourse, I know many important questions remain.  #COVID19 #coronavirus https://t.co/ZqmiuLGNId', 87, '2020-04-14 10:27:36')
(1244640844931567616, 723488741348782080, 'Our first shipments of #hydroxychloroquine are underway to @HHSGov to support clinical studies evaluating its effectiveness in patients with #COVID19. https://t.co/JrGCZfGSj7', 301, '2020-03-30 15:01:16')
(1244612069309190144, 723488741348782080, 'Proud Novartis is stepping up to support @KhanAcademy to help ensure #COVID19 doesn’t get in the way of our rising generation’s future. My family and I are longtime fans of Khan Academy, so I know firsthand what a difference they will continue to make for learners everywhere. https://t.co/sNv0gL2mdI', 128, '2020-03-30 13:06:55')
(1243474023817916417, 723488741348782080, 'Our people are the beating heart of Novartis, and as all of us adapt to new ways of living and working during the #COVID19 pandemic, we are taking concrete actions to ensure our associates and their families are supported during this time of uncertainty. https://t.co/amTvVUBCTo', 140, '2020-03-27 09:44:44')
(1243123434223276033, 723488741348782080, 'I know we in the life sciences industry feel a deep obligation to come together to improve the health of the world right now. Grateful to be working with @gatesfoundation to galvanize the collective innovation power and global footprint of our companies. #COVID19 #coronavirus https://t.co/TBZeCEB1V8', 160, '2020-03-26 10:31:37')
(1241038495449300992, 723488741348782080, 'It’s been remarkable to watch the world mobilize and rally behind science as humanity tackles COVID-19. We’re supporting ongoing clinical trials for hydroxychloroquine and are prepared to donate 130 million doses globally. #COVID19 #Covid_19 https://t.co/xFzGKFxAiv', 350, '2020-03-20 16:26:49')
(1240325108272676865, 723488741348782080, '11 years ago I helped lead efforts to find a vaccine during the H1N1 pandemic\xad, and it reshaped how I view humanity—as a public health physician, a scientist, and a father. I wanted to share my perspective as we tackle COVID-19. #COVID19 https://t.co/8cGlX45ZNr', 836, '2020-03-18 17:12:04')
(1239884729312317440, 723488741348782080, 'We are dealing with an extraordinary public health crisis that’s hitting our communities in unprecedented ways and requires an incredible level of collaboration to tackle. @Novartis is taking more steps to help respond to the enormous challenge. @gatesfoundation @IMI_JU #COVID19 https://t.co/eQXpj9wTgc', 224, '2020-03-17 12:02:10')
(1233311196444610562, 723488741348782080, 'Looking forward to coming together with our shareholders today to discuss @Novartis and the opportunities we have to reimagine medicine in the future. #reimaginingmedicine https://t.co/AuFik3pIDu', 54, '2020-02-28 08:41:17')

Find the employee with most fans

In [700]:

c.execute("""SELECT personName
             FROM person
             WHERE twitterUserId IN (SELECT twitterUserId
                                     FROM twitteruser
                                     WHERE followersCount = (SELECT MAX(followersCount)
                                                             FROM twitteruser
                                                             WHERE twitterUserId IN (SELECT twitterUserId
                                                                                     FROM person
                                                                                     WHERE personId IN (SELECT DISTINCT personId
                                                                                                        FROM employee
                                                                                                        )
                                                                                    )
                                                            )
                                     AND twitterUserId IN (SELECT twitterUserId
                                                           FROM person
                                                           WHERE personId IN (SELECT DISTINCT personId
                                                                              FROM employee
                                                                             )
                                                          )
                                     )
          """)
for row in c.fetchall():
    print(row)

('Philip Hess',)

Select the company with most fans

In [701]:

c.execute("""SELECT companyName
             FROM company
             WHERE twitterUserId IN (SELECT twitterUserId
                                     FROM twitteruser
                                     WHERE followersCount = (SELECT MAX(followersCount)
                                                             FROM twitteruser
                                                             WHERE twitterUserId IN (SELECT twitterUserId
                                                                                     FROM company
                                                                                    )
                                                             )
                                     AND twitterUserId IN (SELECT twitterUserId
                                                           FROM company
                                                          )
                                     )
          """)
for row in c.fetchall():
    print(row)

('Novartis',)

Select the company that provide job Data Scientist

In [702]:

c.execute("""SELECT companyName
             FROM company
             WHERE companyId IN (
                                SELECT DISTINCT companyId
                                FROM employee
                                WHERE jobId = (
                                                SELECT jobId
                                                FROM job
                                                WHERE jobName = "Data Scientist"
                                               )
                                )
          """)
for row in c.fetchall():
    print(row)

('Novartis',)

Select the top 10 locations of the Data Scientists

In [703]:

c.execute("""SELECT location, COUNT(*) AS count
             FROM twitteruser
             WHERE twitteruserId IN (
                                    SELECT twitteruserId
                                    FROM person
                                    WHERE personId IN (
                                                      SELECT personId
                                                      FROM peopleRjob
                                                      WHERE jobId = (
                                                                      SELECT jobId
                                                                      FROM job
                                                                      WHERE jobName = "Data Scientist"
                                                                     )
                                                     )
                                   )
             GROUP BY location
             ORDER BY count DESC
             LIMIT 10
          """)
for row in c.fetchall():
    print(row)

('Around the world ✈', 1)
('Berlin, Germany', 1)
('Boston', 1)
('Chiyoda-ku, Tokyo', 1)
('Devon', 1)
('Frankfurt am Main', 1)
('Helsinki', 1)
('Helsinki, Finland', 1)
('Madrid, Spain', 1)
('Mississippi', 1)

Show the job that Bose provides.

In [704]:

c.execute("""
             SELECT jobName
             FROM job
             WHERE jobId IN(
                             SELECT DISTINCT jobId
                             FROM employee
                             WHERE companyId = (
                                                SELECT companyId
                                                FROM company
                                                WHERE companyName = "Bose"
                                               )
                            )
          """)
for row in c.fetchall():
    print(row)

('Data Analytics and Insights Lead',)

# Contribution
## BY Minghao Ru/001088106: 50%
## BY Tong Yang/001302930 50%

# References

                                                
https://www.tableau.com/learn/articles/data-visualization
https://stackoverflow.com/questions/35415469/sqlite3-unique-constraint-failed-error
https://www.glassdoor.com/index.htm
https://developer.twitter.com/en/docs
https://twitter.com/Bose
https://twitter.com/Novartis
https://twitter.com/etqsoftware
https://github.com/nikbearbrown/INFO_6210/blob/master/Movie_DB_Example/Pandas_Data_Cleaning_Wrangling_and_Visualization.ipynb
https://github.com/nikbearbrown/INFO_6210/blob/master/Examples/A_Movie_Database.ipynb

# License

LICENSE:

MIT Liecnese

Copyright 2020(c) Minghao Ru, Tong Yang

You are free to copy and redistribute the material in any medium or format, remix, transform, and build upon the material for any purposes.